* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.scan {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scan .face {
    position: relative;
    width: 500px;
    height: 500px;
    background: url(face.png);
    background-color: #888888;
    background-size: 500px;
    border-radius: 2px;
}

.scan .face::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: green;
    opacity: 0.5;
    animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}

.scan .face::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: red;
    border: 5px;
    filter: drop-shadow(0 0 10px red) drop-shadow(0 0 40px red);
    animation: animate-line 10s ease-in-out infinite;
}

@keyframes animate-line {
    0%, 100% {
        top: 0%;
    }
    50% {
        top: 100%;
    }
}

.scan h3 {
    text-transform: uppercase;
    color: green;
    font-size: 2em;
    margin-top: 20px;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 5px #000) drop-shadow(0 0 40px #000);
    animation: animate-text .5s steps(3) infinite;
}

@keyframes animate-text {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.scan .face .dots {
    position: absolute; 
    inset: 0;
}

.scan .face .dots::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: url(lines.png);
    background-size: 500px;
    animation: face-lines 10s ease-in-out infinite;
}

@keyframes face-lines {
    0%, 25%, 100% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}

.scan .face .dots::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: url(dots.png);
    background-size: 500px;
    animation: face-lines 10s ease-in-out infinite;
}

@keyframes face-lines {
    0%, 100% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}